.controls {
  background: transparent;
  border: solid 1px transparent;
  color: white;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 100ms;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  text-shadow: 1px 4px 4px gray;
}
.controls .pause {
  width: 0.7rem;
  height: auto;
}
.controls .play {
  width: 0.6rem;
  height: auto;
}

.controls:hover {
  border: solid 1px white;
}

.hero {
  width: auto;
  height: 100vh;
  position: relative;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.hero div {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.hero div p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: 1px 4px 4px gray;
}
.hero div .large_text {
  font-size: 9rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 4px 4px gray;
}

main > p::first-letter {
  font-family: "Abril Fatface", serif;
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
}

.locationsGroup {
  margin: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
}
.locationsGroup > p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  width: 55%;
}
.locationsGroup .locations {
  margin-top: 3rem;
  display: flex;
  row-gap: 36px;
  column-gap: 64px;
  flex-wrap: wrap;
}
.locationsGroup .locations .locationItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  width: 385px;
  cursor: pointer;
}
.locationsGroup .locations .locationItem .image-container {
  width: 385px;
  height: 230px;
  position: relative;
}
.locationsGroup .locations .locationItem .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: solid 1px black;
  transition: all ease 100ms;
}
.locationsGroup .locations .locationItem .image-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: white;
  font-size: 1.3rem;
  display: none;
  transition: all ease 100ms;
  cursor: pointer;
}
.locationsGroup .locations .locationItem .text {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  padding-left: 1rem;
}
.locationsGroup .locations .locationItem .text .name {
  font-weight: bold;
  font-size: 1.15rem;
}
.locationsGroup .locations .locationItem .text > div {
  display: flex;
  align-items: start;
  column-gap: 0.5rem;
  height: fit-content;
}
.locationsGroup .locations .locationItem .text > div .rating {
  font-size: 1rem;
  font-weight: bold;
  color: #1F3B98;
}
.locationsGroup .locations .locationItem .text > div img {
  width: 1rem;
  height: auto;
}
.locationsGroup .locations .locationItem:hover .image-container img {
  filter: brightness(0.45);
}
.locationsGroup .locations .locationItem:hover .image-container p {
  display: block;
}
.locationsGroup .locations .locationItem:hover .text .name {
  text-decoration: underline;
}
.locationsGroup .full_list {
  font-size: 1rem;
  width: fit-content;
  text-align: right;
  right: 0;
  align-self: flex-end;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.locationsGroup .full_list:hover {
  color: #1F83CB;
}
.locationsGroup .full_list:active {
  color: #1F3B98;
}

.about, .faq {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0 0 0;
}
.about .text, .faq .text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 40%;
}
.about .text ul, .faq .text ul {
  padding-left: 1rem;
}
.about .text ul li, .faq .text ul li {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
.about .image-container img, .faq .image-container img {
  width: 549px;
  height: 300px;
  border-radius: 1.5rem;
}

.faq {
  margin: 8rem 0 0 0;
}
.faq .text {
  width: 45%;
}
.faq .text .faqs .faqItem {
  display: flex;
  flex-direction: column;
}
.faq .text .faqs .faqItem .question {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  border-bottom: solid 1px #1F3B98;
  cursor: pointer;
}
.faq .text .faqs .faqItem .question.open {
  border-bottom: none;
}
.faq .text .faqs .faqItem .answer {
  border: solid 1px #1F3B98;
  background: #FBFAFA;
  padding: 1rem;
  font-size: 1.1rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.testimonials {
  margin: 8rem 0 0 0;
  text-align: center;
}
.testimonials > p {
  width: 70%;
  margin: 1rem auto 3.5rem auto;
}
.testimonials .reviews {
  display: flex;
  column-gap: 2.5rem;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  row-gap: 4rem;
}
.testimonials .reviews .reviewItem {
  background: #FBFAFA;
  border: solid 2px black;
  position: relative;
  padding: 4.5rem 0 4rem 0;
  border-radius: 1rem;
  max-width: 290px;
  height: 300px;
}
.testimonials .reviews .reviewItem .person {
  position: absolute;
  width: 70px;
  border: solid 2px #1F83CB;
  border-radius: 50%;
  top: -25px;
  transform: translateX(-50%);
}
.testimonials .reviews .reviewItem .fname {
  font-family: "Abril Fatface", serif;
  font-size: 1.5rem;
}
.testimonials .reviews .reviewItem .review {
  margin: 2rem auto 0 auto;
  font-size: 0.95rem;
  width: 65%;
  position: relative;
}
.testimonials .reviews .reviewItem .q1 {
  position: absolute;
  top: -1rem;
  left: -2rem;
}
.testimonials .reviews .reviewItem .q2 {
  position: absolute;
  right: -2rem;
  bottom: -1rem;
}
.testimonials .reviews .reviewItem .location {
  color: #1F3B98;
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  margin: 0.75rem 0;
}

#newsletter {
  background: #FBFAFA;
  border: solid 2px black;
  margin: 8rem auto;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5rem 3rem 5rem;
  border-radius: 1rem;
}
#newsletter p {
  font-size: 1.1rem;
  margin-top: 1rem;
}
#newsletter input {
  width: 40%;
  margin: 1.5rem 0 2.5rem 0;
  border: black 1px solid;
  text-align: center;
  font-size: 0.9rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}
#newsletter input:focus {
  border: #1F83CB 1px solid;
}
#newsletter button {
  font-size: 1.05rem;
}

#food {
  display: unset;
  height: 1000vh;
}
#food .start {
  width: 100%;
  height: 65vh;
  position: relative;
}
#food .start img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#food .start h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  text-shadow: 1px 4px 4px black;
}
#food main > p {
  margin-bottom: 1rem;
}
#food main .categoriesBtns {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
  background: white;
}
#food main .categoriesBtns .categoryBtn {
  outline: none;
  border: none;
  padding: 0.45rem 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#food main .categoriesBtns .categoryBtn.blue {
  background: #1F3B98;
}
#food main .categoriesBtns .categoryBtn.blue:hover {
  background: #2f55d5;
}
#food main .categoriesBtns .categoryBtn.blue:active {
  background: #1b3383;
}
#food main .categoriesBtns .categoryBtn.black {
  background: black;
}
#food main .categoriesBtns .categoryBtn.black:hover {
  background: #333333;
}
#food main .categoriesBtns .categoryBtn.black:active {
  background: black;
}
#food main .locationsGroup:first-of-type {
  margin-top: 3rem;
}
#food main .locationsGroup {
  margin: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
}
#food main .locationsGroup .locations {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  column-gap: 64px;
  flex-wrap: wrap;
}
#food main .locationsGroup .locations .locationItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  width: 385px;
}
#food main .locationsGroup .locations .locationItem .image-container {
  width: 385px;
  height: 230px;
}
#food main .locationsGroup .locations .locationItem .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: solid 1px black;
}
#food main .locationsGroup .locations .locationItem .text {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  padding-left: 1rem;
}
#food main .locationsGroup .locations .locationItem .text .name {
  font-weight: bold;
  font-size: 1.15rem;
}
#food main .locationsGroup .locations .locationItem .text > div {
  display: flex;
  align-items: start;
  column-gap: 0.5rem;
  height: fit-content;
}
#food main .locationsGroup .locations .locationItem .text > div .rating {
  font-size: 1rem;
  font-weight: bold;
  color: #1F3B98;
}
#food main .locationsGroup .locations .locationItem .text > div img {
  width: 1rem;
  height: auto;
}
#food main .locationsGroup .locations .locationItem .text .location {
  column-gap: 0.25rem;
}
#food main .locationsGroup .locations .locationItem .text .location p {
  font-size: 0.95rem;
}
#food main .locationsGroup .locations .locationItem .text .location img {
  padding: 0.25rem;
}

#tour_guides .start {
  width: 100%;
  height: 65vh;
  position: relative;
}
#tour_guides .start img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#tour_guides .start h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  text-shadow: 1px 4px 4px black;
}

.tour_guides {
  margin: 4rem 0 0 0;
}
.tour_guides > p {
  width: 70%;
  margin: 1rem auto 3.5rem auto;
}
.tour_guides .guides {
  display: flex;
  column-gap: 8.5rem;
  justify-content: center;
  width: 100%;
  margin: 4rem auto 8rem auto;
  flex-wrap: wrap;
  row-gap: 6rem;
}
.tour_guides .guides .tourGuideItem {
  background: #FBFAFA;
  border: solid 2px black;
  position: relative;
  padding: 4.5rem 0 4rem 0;
  border-radius: 1rem;
  max-width: 363px;
  height: 470px;
  text-align: center;
}
.tour_guides .guides .tourGuideItem .person {
  position: absolute;
  width: 70px;
  border: solid 2px #1F83CB;
  border-radius: 50%;
  top: -25px;
  transform: translateX(-50%);
}
.tour_guides .guides .tourGuideItem .fname {
  font-family: "Abril Fatface", serif;
  font-size: 1.5rem;
}
.tour_guides .guides .tourGuideItem .statement {
  margin: 2rem auto 0 auto;
  font-size: 1.1rem;
  width: 70%;
  line-height: 1.4;
  position: relative;
  text-align: justify;
}
.tour_guides .guides .tourGuideItem .q1 {
  position: absolute;
  top: -1rem;
  left: -2rem;
}
.tour_guides .guides .tourGuideItem .q2 {
  position: absolute;
  right: -2rem;
  bottom: -1rem;
}
.tour_guides .guides .tourGuideItem .phone {
  color: #1F3B98;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 3rem 0 0 0;
}
.tour_guides .guides .tourGuideItem .specialty {
  color: #1F3B98;
  font-weight: 600;
  font-size: 0.95rem;
  margin-top: 1rem;
}

.qna .questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8rem;
  column-gap: 13.5rem;
  margin: 4rem auto 8rem auto;
}
.qna .questions .qnaItem {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 4.5rem 2.5rem 2.5rem 2.5rem;
  background: #1F3B98;
  color: white;
  width: 569px;
  height: 376px;
  border-radius: 0.5rem;
  text-align: center;
}
.qna .questions .qnaItem .question {
  font-size: 1.5rem;
  font-weight: bold;
}
.qna .questions .qnaItem .answer {
  text-align: justify;
  line-height: 1.5;
}

.how-to p {
  margin: 2rem auto 8rem auto;
}

#contact .start {
  width: 100%;
  height: 65vh;
  position: relative;
}
#contact .start img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#contact .start h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  text-shadow: 1px 4px 4px black;
}
#contact .contact_form {
  display: flex;
}
#contact .contact_form img {
  height: 100%;
}
#contact .contact_form form {
  padding: 4rem 3rem;
  background: #1F3B98;
  color: white;
  display: flex;
  flex-direction: column;
}
#contact .contact_form button {
  border: solid 1px white;
  outline: none;
  background: none;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

button {
  width: fit-content;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
}

button.main {
  background: #1F3B98;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  width: fit-content;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

button.main:hover {
  background: #1F83CB;
}

button.main:active {
  background: black;
}

main {
  padding: 0 2rem;
}
main > p:nth-of-type(1) {
  font-size: 1.1rem;
  margin-top: 3rem;
}

/*# sourceMappingURL=App.css.map */
