#food {
  display: unset;
  height: 1000vh;
}
#food .start {
  width: 100%;
  height: 65vh;
  position: relative;
}
#food .start img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
#food .start h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  text-shadow: 1px 4px 4px black;
}
#food main > p {
  margin-bottom: 1rem;
}
#food main .categoriesBtns {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
  background: white;
}
#food main .categoriesBtns .categoryBtn {
  outline: none;
  border: none;
  padding: 0.45rem 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#food main .categoriesBtns .categoryBtn.blue {
  background: #1F3B98;
}
#food main .categoriesBtns .categoryBtn.blue:hover {
  background: #2f55d5;
}
#food main .categoriesBtns .categoryBtn.blue:active {
  background: #1b3383;
}
#food main .categoriesBtns .categoryBtn.black {
  background: black;
}
#food main .categoriesBtns .categoryBtn.black:hover {
  background: #333333;
}
#food main .categoriesBtns .categoryBtn.black:active {
  background: black;
}
#food main .locationsGroup:first-of-type {
  margin-top: 3rem;
}
#food main .locationsGroup {
  margin: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
}
#food main .locationsGroup .locations {
  margin-top: 2rem;
  display: flex;
  row-gap: 3rem;
  column-gap: 64px;
  flex-wrap: wrap;
}
#food main .locationsGroup .locations .locationItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  width: 385px;
}
#food main .locationsGroup .locations .locationItem .image-container {
  width: 385px;
  height: 230px;
}
#food main .locationsGroup .locations .locationItem .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: solid 1px black;
}
#food main .locationsGroup .locations .locationItem .text {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  padding-left: 1rem;
}
#food main .locationsGroup .locations .locationItem .text .name {
  font-weight: bold;
  font-size: 1.15rem;
}
#food main .locationsGroup .locations .locationItem .text > div {
  display: flex;
  align-items: start;
  column-gap: 0.5rem;
  height: fit-content;
}
#food main .locationsGroup .locations .locationItem .text > div .rating {
  font-size: 1rem;
  font-weight: bold;
  color: #1F3B98;
}
#food main .locationsGroup .locations .locationItem .text > div img {
  width: 1rem;
  height: auto;
}
#food main .locationsGroup .locations .locationItem .text .location {
  column-gap: 0.25rem;
}
#food main .locationsGroup .locations .locationItem .text .location p {
  font-size: 0.95rem;
}
#food main .locationsGroup .locations .locationItem .text .location img {
  padding: 0.25rem;
}

/*# sourceMappingURL=Category.css.map */
